@charset "utf-8";

body {
  background-color: #202F3F;
  color: #ebebeb;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  zoom: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  float:left;
  width: 32%;
  min-height: 20em;
  border: 1px solid white;
  margin: 0 0.5em 0.5em 0;

  &.last {
    margin-right: 0;
  }
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 26px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}