---
title: e-commerce
layout: theme
---

%ul
  %li Millions of Dollars in Orders Processed
  %li Integration with Third-Party Fraud Prevention Software
  %li Integration with Third-Party Affiliate Management Software
  %li 
    Numerous Open Source contributions to 
    %a{href:"http://spreecommerce.com", target:"_blank"} Spree Commerce
  %li Integration for Groupon / Living Social promotions