---
title: DanielDixon.com
layout: theme
---

.jumbotron
  %h1 hi, i'm daniel
  .lead
    A full stack web developer who enjoys a good animated film.
  %p
    %a.btn.btn-primary.btn-lg Email Me
    %a.btn.btn-primary.btn-lg LinkedIn
    %a.btn.btn-primary.btn-lg GitHub

.row
  %h4 
    %a{href:'/ecommerce.html'} ecommerce

  %h4 information architecture
  %h4 animation review
  %h4 production management
  %h4 field team management
  %h4 real estate
  %h4 masters thesis
  %h4 campus mapping
  %h4 unversity redesign

.row
  %h4 hickory dickory dock (animated short?)
  %h4 danger of dangerous things (live action short?)
  %h4 motion graphics
  %h4 aubie, the auburn mascot
  %h4 educational training (include ITIM)
  %h4 a monster attacks auburn


