---
title: DanielDixon.com
layout: theme
---

.jumbotron
  %h1.greeting Hi, I'm Daniel.
  .lead
    A full stack web developer who enjoys a good animated film.
  %p
    %a.btn.btn-primary.btn-lg Email Me
    %a.btn.btn-primary.btn-lg LinkedIn
    %a.btn.btn-primary.btn-lg GitHub

.row
  .column
    %h4 
      %a{href:'/ecommerce.html'} ecommerce
  .column
    %h4 
      %a{href:'/information_architecture.html'} information architecture
  .column.last    
    %h4 animation review

  .column
    %h4 production management
  .column  
    %h4 field team management
  .column.last    
    %h4 real estate

  .column
    %h4 masters thesis
  .column
    %h4 campus mapping
  .column.last
    %h4 unversity redesign

.row
  .column
    %h4 hickory dickory dock (animated short?)
  .column    
    %h4 danger of dangerous things (live action short?)
  .column.last
    %h4 motion graphics

  .column    
    %h4 aubie, the auburn mascot
  .column    
    %h4 educational training (include ITIM)
  .column.last
    %h4 a monster attacks auburn


