---
title: information architecture
layout: theme
---

%h1 information architecture

%p
  Our flapship brand, Cellucor, needed a new web presence. An online destination to rival the great brands in the athletic space. It would need to expand the expanding sales channel to what it should be, provide a better experience for mobile visitors, and have a friction-less online shopping experience even after the "Purchase" button was pressed.

%h3 Highlights

%ul
  %li Tens of Thousands in Sales Per Day
  %li Integration with Third-Party Fraud Prevention Software
  %li Integration with Third-Party Affiliate Management Software
  %li 
    Numerous Open Source contributions to 
    %a{href:"http://spreecommerce.com", target:"_blank"} Spree Commerce
  %li Integration for Groupon / Living Social Promotions


%h3 Collaboration

%p 
  The project brought together an amazing design firm from Dallas, our killer marketing team from New York City, and my team of remote developers from all across the globe.

%h3 Execution


%h3 Lessons

%ul
  %li 
    %strong Fail quickly when choosing a technology platform.  
    Initial efforts pointed us to Magento for our e-commerce platform, however the legacy software proved burdensome given our resources. While there was no silver bullet, 

