---
title: CSS Mask Test
layout: playground
---

%h1 CSS Mask Test

%p
  %img{src:"/images/macbook-cellucor.jpg", width:"500px"}

:css
  img {
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

/ http://www.html5rocks.com/en/tutorials/masking/adobe/