---
title: Scroller Test
layout: playground
---

:css
  .panel {
    margin-left: 100px;
    min-height: 400px;
  }

.panel
  %h1 online stores
  %p
    %em Whether for a new brand or expanding the sales channel of our flagship, 
  %ul
    %li Systems for handling thousands of transactions in multiple currencies
    %li Several third-party integrations for fraud prevention, affiliate management, Groupon, etc.
    %li Numerous contributions back to open source via Spree Commerce

.panel
  %h1 e-commerce architecture
  %p
    Collecting orders with little friction is one achievement. Seamless fulfillment is another. 
  %ul
    %li Streaming orders from multiple online stores 
    %li Tracking shipments and stock levels from multiple warehouses
    %li Integration with Microsoft Dynamics AX and other third-party software
    

.panel
  %h1 animation review
  %p 
    Animation supervisors want to give animators great feedback. 
  %ul 
    %li One web-based review tool let a supervisor cue up a shot, watch and seek frame-by-frame, draw annotations, and record it all along side his webcam feedback.
    %li Another slideshow tool allowed quick flipping through, zooming in/out, and commenting on high resolution artwork.
    %li Used during the production of two feature films and numerous commercials.
    %li Several pieces of the tools were open sourced.

.panel
  %h1 production management
  %p
    Production coordinators need to know that a project is on schedule, and need the tech to give them a macro or micro view.
  %ul 
    %li Easy batch review and categorization for the thousands of pieces of pre-viz & concept artwork created before a feature film production
    %li Interactive grid-like console for managing artist and department quotas to ensure the production is on schedule
    %li Drag-and-drop interface for assigning shots to artists each week and reviewing the current state of a shot

.panel
  %h1 field team management
  %p
    When your reps are on the ground and are responsible for regions across the nation, they want realtime help to achieve their best.
  %ul
    %li 
      Currently working with a team to create a mobile-first solution to field team happiness called 
      %a{href:"http://outfieldapp.com", target:"_blank"} Outfield 
    %li Lead the deveopment of the API used by the native Android and iOS apps
    %li Created the web-based portion of Outfield, including team analytics and permissions

.panel
  %h1 real estate analysis
  %p
    Buying a property for investment purposes can be scary. Knowing the numbers and calculating them easily will put one at ease.
  %ul
    %li 
      Translated the business logic of a small team of experienced real estate investors into 
      %a{href:"http://realyields.com", target:"_blank"} RealYields.com
    %li Software provides indepth analysis of a property so one know when to buy and when to hold
    %li Marketing tools and third-party integrations with Zillow and Trulia

.panel
  %h1 iCanDraw? 
  %p 
    A proof-of-concept methodology for a computer to provide direction and feedback for assisting a user in learning to draw a human face as accurately as possible.
  %ul
    %li This project became the thesis for my Masters of Science in Computer Science
    %li CHI 2010 Paper
    %li UIST 2009 Poster


.panel
  %h1 interactive campus map
  %p
    An interactive map application of Auburn University's campus used by countless students, faculty, and visitors. 
  %ul
    %li Wrote a plugin to Adobe Illustrator for batch exporting of the graphic designer's work
    %li Remained in service from 2005 until late 2011
    %li Won the 2005 NACIS Web Mapping Competition
    %li Contributed to my recognition as the 2006 Auburn University On-Campus Student Employee of the Year
    %li The application included two "easter eggs" that also gained notoriety


.panel
  %h1 university branding
  %p
    Any entity wants to have a unified branding and presence, including a university. However, this can prove quite difficult when each college and department has an independent web development group with segmented technologies.
  %ul
    %li Served on a joint committee of web and marketing personal in 2005 to produce concepts for the new online presence of Auburn University
    %li Lead development by transfering key pages and creating templates and documentation for use by web developers across campus during the university-wide rollout 


